@model Web.Areas.Portal.ViewModels.Portal.LayoutViewModel
@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>@ViewData["Title"] - Termoservis Portal</title>

	<environment names="Development">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="~/lib/materialize/sass/materialize.css" media="screen,projection" type="text/css" />
		<link rel="stylesheet" href="~/css/site.css"/>
		<link rel="stylesheet" href="~/css/portal.css"/>
	</environment>
	<environment names="Staging,Production">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="~/lib/materialize/sass/materialize.min.css" media="screen,projection" type="text/css"/>
		<link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true"/>
		<link rel="stylesheet" href="~/css/portal.min.css" asp-append-version="true"/>
	</environment>
</head>
<body>

<nav id="portal-nav">
	<ul id="user-dropdown" class="dropdown-content">
		<li><a asp-controller="Account" asp-action="LogOff">Odjava</a></li>
	</ul>
	<div class="nav-wrapper">
		<a href="/" class="brand-logo left">TERMOSERVIS</a>
		<ul id="slide-out" class="side-nav fixed">
			<li class="no-padding">
				<ul class="collapsible collapsible-accordion">
					<li class="bold">
						<a class="collapsible-header waves-effect waves-red">Portal</a>
						<div class="collapsible-body">
							<ul>
								<li><a asp-controller="Home" asp-action="Index">Pregled</a></li>
							</ul>
						</div>
					</li>
					<li class="bold">
						<a class="collapsible-header waves-effect waves-red">Korisnici</a>
						<div class="collapsible-body">
							<ul>
								<li><a asp-controller="Users" asp-action="Index">Pregled</a></li>
								<li><a asp-controller="Users" asp-action="Index">Servisi</a></li>
							</ul>
						</div>
					</li>
				</ul>
			</li>
		</ul>
		<a href="#" data-activates="slide-out" class="button-collapse left"><i class="mdi-navigation-menu"></i></a>

		<!-- User info -->
		<ul class="right">
			<li><a class="dropdown-button" href="#!" data-activities="user-dropdown">@Model.User.Email<i class="material-icons right">perm_identity</i></a></li>
		</ul>
	</div>
</nav>

<div>
	<header></header>

	<main>
		@RenderBody()
	</main>
</div>

<environment names="Development">
	<script src="~/lib/jquery/dist/jquery.js"></script>
	<script src="~/lib/materialize/dist/js/materialize.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
</environment>
<environment names="Staging,Production">
	<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
	        asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
	        asp-fallback-test="window.jQuery">
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"
	        asp-fallback-src="~/lib/materialize/dist/js/materialize.min.js"
	        asp-fallback-test="window.jQuery && Materialize.toast && window.jQuery.fn && window.jQuery.fn.tabs">
	</script>
	<script src="~/js/site.js" asp-append-version="true"></script>
</environment>

@RenderSection("scripts", required: false)
</body>
</html>
