@{
    ViewData["Title"] = "Servis";
}

<div class="owl-carousel owl-theme owl-loaded">
	<div class="item">
		<div class="image" style="background-image: url('/images/service/gallery/serviceIndex1.jpg')"></div>
	</div>
	<div class="item">
		<div class="image" style="background-image: url('/images/service/gallery/serviceIndex2.jpg')"></div>
	</div>
	<div class="item">
		<div class="image" style="background-image: url('/images/service/gallery/serviceIndex3.jpg')"></div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col s12">
			<h4>Djelatnosti</h4>
		</div>
	</div>
	<div class="row">
		<div class="col sm12">
			<ul class="activities-list">
				<li>servis plinskih uređaja</li>
				<li>popravak plinskih uređaja i regulacija</li>
				<li>puštanje u pogon plinskih uređaja</li>
				<li>puštanje u pogon i održavanje kondenzacijskih plinskih uređaja</li>
				<li>puštanje u pogon regulacija vođenih vanjskom temperaturom</li>
				<li>puštanje u pogon solarnih sistema grijanja i pripreme tople vode</li>
				<li>puštanje u pogon dizalica topline (toplinske pumpe)</li>
				<li>puštanje u pogon mikrokogeneracijskih uređaja (proizvodnja struje i topline preko plinskog motora)</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col s12">
			<h4>Ovlašteni servis</h4>
		</div>
	</div>
	<div class="row service-logos">
		<div class="col s12 m6 l3 valign-wrapper"><img class="valign" src="images/LogoVaillant.jpg" alt="Vaillant Logo"/>
		</div>
		<div class="col s12 m6 l3 valign-wrapper"><img class="valign" src="images/LogoViessmann.jpg" alt="Viessman Logo"/>
		</div>
		<div class="col s12 m6 l3 valign-wrapper"><img class="valign" src="images/LogoBosch.jpg" alt="Bosch Logo"/>
		</div>
		<div class="col s12 m6 l3 valign-wrapper"><img class="valign" src="images/LogoJunkers.jpg" alt="Junkers Logo"/>
		</div>
	</div>
</div>

@section styles {
	<link rel="stylesheet" href="~/lib/owl-carousel/assets/owl.carousel.min.css" type="text/css" />
	<link rel="stylesheet" href="~/lib/owl-carousel/assets/owl.theme.default.min.css" type="text/css" />
}

@section scripts {
	<script src="~/lib/owl-carousel/owl.carousel.min.js"></script>
}
