/* line 1, content/style/termoservis.scss */
footer .copyright {
  font-size: 0.9em;
  padding-top: 10px;
  text-align: center;
  color: color("grey", "lighten-5");
}
/* line 7, content/style/_termoservis.scss */
footer .copyright a {
  color: #BBBBBB;
}
/* line 10, content/style/_termoservis.scss */
footer .copyright a:hover {
  color: #F23838;
  transition-duration: 0.2s;
}
