@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
	using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm", @class = "form-inline"}))
	{
		@Html.AntiForgeryToken()
		
		@Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new {title = "Manage", @class = "nav-item nav-link"})
		<a href="javascript:document.getElementById('logoutForm').submit()" class="nav-item nav-link">Odjava</a>
	}
}
else
{
    @Html.ActionLink("Prijava", "Login", "Account", routeValues: null, htmlAttributes: new {id = "loginLink", @class = "nav-item nav-link"})
}
