@model IndexViewModel
@{
    ViewData["Title"] = "Pregled računa";
}

<div class="container">
	<!-- Header -->
	<h2 class="thin">@ViewData["Title"]</h2>
	<p class="text-success">@ViewData["StatusMessage"]</p>
	<div>
		<div class="row">
			<table class="col m7 l5">
				<tr>
					<td>Email</td>
					<td>@User.Identity.Name</td>
				</tr>
				<tr>
					<td>Zaporka</td>
					<td><a asp-controller="Manage" asp-action="ChangePassword">Promijeni</a></td>
				</tr>
			</table>
		</div>
	</div>
</div>