@font-face {
    font-family: "Roboto";
    src: local(Roboto Thin),
        url("#{$roboto-font-path}Roboto-Thin-woff2.woff2") format("woff2"),
        url("#{$roboto-font-path}Roboto-Thin-woff.woff") format("woff"),
        url("#{$roboto-font-path}Roboto-Thin-ttf.ttf") format("truetype");
    font-weight: 200;
}
@font-face {
    font-family: "Roboto";
    src: local(Roboto Light),
        url("#{$roboto-font-path}Roboto-Light-woff2.woff2") format("woff2"),
        url("#{$roboto-font-path}Roboto-Light-woff.woff") format("woff"),
        url("#{$roboto-font-path}Roboto-Light-ttf.ttf") format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: "Roboto";
    src:
        local(Roboto Regular),
        url("#{$roboto-font-path}Roboto-Regular-woff2.woff2") format("woff2"),
        url("#{$roboto-font-path}Roboto-Regular-woff.woff") format("woff"),
        url("#{$roboto-font-path}Roboto-Regular-ttf.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: url("#{$roboto-font-path}Roboto-Medium-woff2.woff2") format("woff2"),
        url("#{$roboto-font-path}Roboto-Medium-woff.woff") format("woff"),
        url("#{$roboto-font-path}Roboto-Medium-ttf.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Roboto";
    src: url("#{$roboto-font-path}Roboto-Bold-woff2.woff2") format("woff2"),
        url("#{$roboto-font-path}Roboto-Bold-woff.woff") format("woff"),
        url("#{$roboto-font-path}Roboto-Bold-ttf.ttf") format("truetype");
    font-weight: 700;
}
