@model Termoservis.Models.Address

<div class="form-group row">
    <div class="col-md-12">
        <address>
            @Model.StreetAddress,<br />
            @Model.Place.Name,<br />
            @Model.Place.Country.Name
        </address>
    </div>
</div>
