@model Termoservis.Models.Address

<div class="form-group row">
    <div class="col-md-12">
        <address>
            <span>@Model.StreetAddress </span>
            @if (Model.Place != null)
            {
                <span>,</span>
                <span>@Model.Place.Name, </span><br />
                <span>@Model.Place.Country.Name </span>
            }
        </address>
    </div>
</div>
