@model IEnumerable<Termoservis.Models.TelephoneNumber>

<div class="form-group row">
    <div class="col-md-12">
        @if (Model.Any())
        {
            foreach (var telephoneNumber in Model)
            {
                @Html.DisplayFor(model => telephoneNumber)
            }
        }
        else
        {
            <div class="form-group row">
                <div class="col-md-12">
                    <div class="text-muted small">Nema zapisa</div>
                </div>
            </div>
        }
    </div>
</div>
