@model IEnumerable<Termoservis.Models.TelephoneNumber>

<div class="form-group row">
    <div class="col-md-12">
        @foreach (var telephoneNumber in Model)
        {
            @Html.DisplayFor(model => telephoneNumber)
        }
    </div>
</div>
