@using Termoservis.Models
@using Termoservis.Web.Helpers
@model Termoservis.Web.Models.Customer.CustomerCreateViewModel

@{
    ViewBag.Title = "Kreiraj korisnika";
}

<div class="row">
	@Html.ActionLink("Vrati se na listu korisnika", "Index", null, htmlAttributes: new {@class="col-xs-12 p-t-2"})
</div>
<div class="row">
	<h2 class="col-xs-12 p-t-1">Kreiraj korisnika</h2>
</div>
	
@Html.Partial("_CustomerFormPartial", Model)

@section Scripts {
    <script src="/bundles/jqueryval"></script>

	<script>
		function addNestedForm(container, counter, ticks, content) {
   			var nextIndex = $(counter).length;
   			var pattern = new RegExp(ticks, "gi");
   			content = content.replace(pattern, nextIndex);
   			$(container).append(content);
		}
	</script>
}
