@model Termoservis.Web.Models.Customer.CustomerFormViewModel

@{
    ViewBag.Title = "Kreiraj korisnika";
}

<div class="row">
    <div class="col-sm-12">
        <ol class="breadcrumb bg-faded">
            <li class="breadcrumb-item">@Html.ActionLink("Početna", "Index", "Home")</li>
            <li class="breadcrumb-item">@Html.ActionLink("Korisnici", "Index", "Customers")</li>
            <li class="breadcrumb-item active">Novi korisnik</li>
        </ol>
    </div>
</div>

<div class="row">
	<h2 class="col-xs-12 p-t-1">Kreiraj korisnika</h2>
</div>
	
@Html.Partial("_CustomerFormPartial", Model)

@section Scripts {
    <script src="/bundles/jqueryval"></script>
    <script src="/bundles/select2"></script>
    
    <script>
        $(document).ready(function() {
            $(".select2-init").each(function() {
                $(this).select2();
                $(this).next('.select2').find('.select2-selection').one('focus', select2Focus).on('blur',
                    function() {
                        $(this).one('focus', select2Focus);
                    });

                function select2Focus() {
                    $(this).closest('.select2').prev('select').select2('open');
                }
            });
        });
    </script>
    <script>
        function addNestedForm(container, counter, ticks, content) {
            var nextIndex = $(counter).length;
            var pattern = new RegExp(ticks, "gi");
            content = content.replace(pattern, nextIndex);
            $(container).append(content);
        }
    </script>
}
