@using Termoservis.Web.Helpers
@model Termoservis.Web.Controllers.CustomersSearchResult

@{
    ViewBag.Title = "Korisnici";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item">@Html.ActionLink("Početna", "Index", "Home")</li>
    <li class="breadcrumb-item active">Korisnici</li>
</ol>

<h2>Korisnici</h2>

<p>
    @Html.ActionLink("Dodaj korisnika", "Create")
</p>

@Html.Partial("_CustomersTablePartial", Model)
