@{
    ViewData["Title"] = "Potvrda Emaila";
}

<h2>@ViewData["Title"].</h2>
<div>
    <p>
        Hvala na potvrdi vašeg email računa. Sad se možete <a asp-controller="Account" asp-action="Login">ulogirati</a> s novim email računom.
    </p>
</div>
