@{
    ViewData["Title"] = "Korisnik zaključan";
}

<div class="container">
	<header>
		<h1 class="text-danger">Korisnik zaključan.</h1>
		<p class="text-danger">Ovaj korisnik je trenutno zaključan, molimo pokušajte kasnije ili se javite Vašem administratoru.</p>
	</header>
</div>
