@using System.Collections.Generic
@using Microsoft.AspNet.Http
@using Microsoft.AspNet.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Prijava";
}

<h2 class="thin">@ViewData["Title"]</h2>
<div class="row">
    <div class="col m8">
        <section>
	        <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
		        <!-- Errors list -->
		        <div class="row">
			        <div asp-validation-summary="ValidationSummary.All" class="text-danger col m10 l8"></div>
		        </div>

		        <!-- Email input field -->
		        <div class="row">
			        <div class="input-field col m10 l8">
				        <input asp-for="Email" class="form-control"/>
				        <span asp-validation-for="Email" class="text-danger"></span>
				        <label asp-for="Email"></label>
			        </div>
		        </div>

		        <!-- Password input field -->
		        <div class="row">
			        <div class="input-field col m10 l8">
				        <input asp-for="Password" class="form-control"/>
				        <span asp-validation-for="Password" class="text-danger"></span>
				        <label asp-for="Password">Zaporka</label>
			        </div>
		        </div>

		        <!-- Remember me input field -->
		        <div class="row">
			        <div class="col m10 l8 offset-m2">
				        <div class="checkbox">
					        <input asp-for="RememberMe"/>
					        <label asp-for="RememberMe">Zapamti me?</label>
				        </div>
			        </div>
		        </div>

		        <!-- Submit button -->
		        <div class="row">
			        <div class="col m10 l8 offset-m2">
				        <button type="submit" class="waves-effect waves-light btn btn-default red">Prijava</button>
			        </div>
		        </div>

		        <!-- Register new user -->
		        <p>
			        <a asp-action="Register">Registriraj novog korisnika.</a>
		        </p>

		        <!-- Forgot password -->
		        <p>
			        <a asp-action="ForgotPassword">Zaboravili ste zaporku?</a>
		        </p>
	        </form>
        </section>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
