@model RegisterViewModel
@{
    ViewData["Title"] = "Registracija";
}

<div class="container">
	<h2 class="thin">@ViewData["Title"].</h2>
	<form asp-controller="Account" asp-action="Register" method="post" class="form-horizontal" role="form">
		<!-- Errors list -->
		<div class="row">
			<div asp-validation-summary="ValidationSummary.All" class="text-danger col m10 l8"></div>
		</div>

		<!-- Email input field -->
		<div class="row">
			<div class="input-field col m10 l8">
				<input asp-for="Email" class="form-control"/>
				<span asp-validation-for="Email" class="text-danger"></span>
				<label asp-for="Email"></label>
			</div>
		</div>

		<!-- Password input field -->
		<div class="row">
			<div class="input-field col m10 l8">
				<input asp-for="Password" class="form-control"/>
				<span asp-validation-for="Password" class="text-danger"></span>
				<label asp-for="Password">Zaporka</label>
			</div>
		</div>

		<!-- Password confirm input field -->
		<div class="row">
			<div class="input-field col m10 l8">
				<input asp-for="ConfirmPassword" class="form-control"/>
				<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
				<label asp-for="ConfirmPassword">Ponovi zaporku</label>
			</div>
		</div>

		<!-- Submit button -->
		<div class="row">
			<div class="col m10 l8 offset-m2">
				<button type="submit" class="waves-effect waves-light btn btn-default red">Registracija</button>
			</div>
		</div>

	</form>
</div>


@section Scripts {
	@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
