@{
    ViewData["Title"] = "Promijena zaporke uspiješna";
}

<h2 class="thin">@ViewData["Title"].</h2>
<p>
    Vaša zaporka je promijenjena. Sad se možete <a asp-controller="Account" asp-action="Login">ulogirati</a> s novom zaporkom.
</p>
